* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}
#topbtn{
    background: #000;
    color: #fff;
    border-radius: 5px;
    padding: 2px;
}
#topbtn a{
    text-decoration: none;
    color: #fff;
}

.container1 {
    border: 1px solid #ff0;
    border-radius: 7px;
    background: linear-gradient(to right, rgb(70,70,10),black);
    padding: 7px;
}

header {
    background-color: rgb(140,50,0);
    color: #fff;
    padding: 20px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    margin: 20px;
}
nav{
    text-align: center;
}
nav ul li {
    list-style: none;
    border: 1px solid #000;
    border-radius: 7px;
    margin-bottom: 2px;
    background: #999;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.firstContent {
    background-image: url('images/aloko.png');
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    border: 1px solid #000;
    border-radius: 7px;
    margin: 20px;
}

.firstContent h1 {
    font-size: 36px;
    margin: 0;
}

.firstContent p {
    font-size: 18px;
    margin: 20px 0;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
#num1{
    color: #fff;
}

.about {
    padding: 50px;
    background: #999;
    border: 1px solid #040;
    border-radius: 7px;
   margin: 20px;

}

.about:hover{
    background: rgb(140,50,0);
    color: #fff;
}

.about h2 {
    font-size: 36px;
    margin: 0;
}

.about p {
    font-size: 18px;
    margin: 20px 0;
}

.blog {
    padding: 50px;
    background: #999;
    border: 1px solid #040;
    border-radius: 7px;
    margin: 20px;
}

.blog:hover{
    color: #fff;
    background: #400;
    border: 2px solid;
    border-color: #ff0;
}

.blog h2 {
    font-size: 36px;
    margin: 0;
}

.blog ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.blog ul li {
    font-size: 18px;
    margin-bottom: 10px;
}



.services {
    padding: 50px;
    background: #999;
    border: 1px solid #040;
    border-radius: 7px;
    margin: 20px;
}
.containerBorder{
   
    border: 1px solid;
    border-radius: 5px;
    height: 210px;
    margin-bottom: 20px;
    padding-left: 20px;
   
}

.services:hover{
    color: #fff;
    background: #440;
    border: 2px solid;
    border-color: #ff0;
}

.services h2 {
    font-size: 36px;
    margin: 0;
}

.services ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.services ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact {
    padding: 50px;
    background: #999;
    border: 1px solid #040;
    border-radius: 7px;
    margin: 20px;

}

.contact h2 {
    font-size: 36px;
    margin: 0;
}
fieldset{
    margin: 10px;
   padding: 10px;
   text-align: center;
   border: 1px solid #ff0;
  
}
legend{
    background: rgb(70,70,10);
    color: #fff;
    padding: 2px;
    border: 1px solid rgb(10,70,10);
    border-radius: 5px;
}

form{
    margin: 10px;
    
   
}

form label {
    display: block;
    font-size: 18px;
    margin-top: 20px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}

.textPlace,textarea{
    border: 1px solid #fff;
    border-radius: 7px;
   
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 200px;
    border:  1px solid #000;
    border-radius: 7px;
}

